{% extends "base_account.html" %}
{% block page_title %}Login{% endblock  %}
        {% block form %}
<h1>修改密码</h1>
<form class="form-horizontal" action="" method="post">
    <div class="control-group">
        <label class="control-label" for="inputAccount">旧密码:</label>
        <div class="controls">
            <input id="inputAccount" class="form-control" type="password" placeholder="Please input old password" name="old_password" required="required"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputPassword">新密码:</label>
        <div class="controls">
            <input id="inputPassword" class="form-control" type="password" placeholder="Please input password" name="new_password1" required="required"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputPassword">重复新密码:</label>
        <div class="controls">
            <input id="inputPassword" class="form-control" type="password" placeholder="Please type in password again" name="new_password2" required="required"/>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <br>
            <p style="width:100%;text-align:center;">
                <button type="submit" class="btn btn-primary">提交</button>
            </p>
        </div>
    </div>
    <div class="control-group"> {% if errors %}
                        <div class="alert alert-danger">{% for error in errors %} {{error}}! {% endfor %}</div>
                {% endif %}</div>
</form>
{% endblock %}