{% extends "base_proj.html" %}

{% block page_title %}帐号资料{% endblock %}

{% block page_level_styles %}
{% endblock %}

{% block content_title %}帐号资料{% endblock %}

{% block main_content %}
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<form action="/account/manage/add_user.html" class="form-horizontal" method="post" role="form">
			<div class="form-group">
				<label for="username" class="control-label col-sm-2">帐户名<span class="mustfield-signal">*</span></label>
				<div class="col-sm-6">
					<input id="username" type="text" name="username" class="form-control col-sm-6" maxlength="30" {%if not disable%}disabled{%endif%} required>
				</div>
			</div>
			<div class="form-group">
				<label for="password1" class="control-label col-sm-2">密码<span class="mustfield-signal">*</span></label>
				<div class="col-sm-6">
					<input id="password1" type="password" name="password1" class="form-control col-sm-6" maxlength="30" required>
				</div>
			</div>
			<div class="form-group">
				<label for="password2" class="control-label col-sm-2">密码(重复)<span class="mustfield-signal">*</span></label>
				<div class="col-sm-6">
					<input id="password2" type="password" name="password2" class="form-control col-sm-6" maxlength="30" required>
				</div>
			</div>
			<div class="form-group">
				<label for="username" class="control-label col-sm-2">姓名<span class="mustfield-signal">*</span></label>
				<div class="col-sm-6">
					<input name="truename" id="truename" type="text" class="col-sm-6 form-control" maxlength="20" required>
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="control-label col-sm-2">Email</label>
				<div class="col-sm-6">
					<input id="email" name="email" type="text" class="col-sm-6 form-control">
				</div>
			</div>
			<div class="form-group">
				<label for="qq" class="control-label col-sm-2">QQ</label>
				<div class="col-sm-6">
					<input type="text" name="qq" class="form-control" maxlength="20">
				</div>
			</div>
			<div class="form-group">
				<label for="is_active" class="control-label col-sm-2">可用</label>
				<div class="col-sm-6">
					<select class="form-control" name="is_active" id="is_active">
						<option value="true" selected="selected">是</option>
						<option value="false">否</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2"></div>
				<div class="col-sm-6">
				{% if errors %}
				<div class="alert alert-danger">{% for error in errors %} {{error}}! {% endfor %}</div>
				{% endif %}
				</div>
			</div>
			<div class="button-group">
				<div class="col-sm-4"></div>
				<div class="col-sm-8">
					<button type="submit" class="btn btn-primary">提交</button>
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-2"></div>
</div>
{% endblock %}

{% block page_level_scripts %}
{% endblock %}