
<link rel="stylesheet" type="text/css" href="http://www.360save.net/savechannel/savestyles.css" media="screen" />
<SCRIpT LANGUAGE="Javascript">


var Words ="%20%3Cscript%20type%3D%22text/javascript%22%3E%0Avar%20q%20%3D%20%22%20src%3D%27http%3A//www.360save.net/savechannel/jquery-1.9.1.min.js%27%22%3B%0Adocument.write%20%28%22%3Cscript%20type%3D%27text/javascript%27%22+q+%22%3E%22%29%3B%0Adocument.write%28%27%3C/scr%27+%27ipt%3E%27%29%3B%0A%3C/script%3E%0A%20%3Cscript%20type%3D%22text/javascript%22%3E%0Avar%20q%20%3D%20%22%20src%3D%27http%3A//www.360save.net/savechannel/banner.js%27%22%3B%0Adocument.write%20%28%22%3Cscript%20type%3D%27text/javascript%27%22+q+%22%3E%22%29%3B%0Adocument.write%28%27%3C/scr%27+%27ipt%3E%27%29%3B%0A%3C/script%3E" 
function OutWord()
{
var NewWords;
NewWords = unescape(Words);
document.write(NewWords);
} 
OutWord();

</SCRIpT>
<script  type="text/javascript">
	var foucsbox = function (time) {
    var time = time || 3500
    , $ = function (id) { return document.getElementById(id); }
    , topCon = $('divimgplay')
    , big = $('divimginfog_imgPlayer')
    , samll = $('divpageinfog_imgPlayer')
    , tip = $('ptitleg_imgPlayer')
    , bigimgs = big.getElementsByTagName('li')
    , samllimgs = samll.getElementsByTagName('li')
    , imglink = tip.getElementsByTagName('a')[0]
    , slide = function (z) {
        samllimgs[lastIndex].className = '';
        samllimgs[z].className = 'current';
        bigimgs[lastIndex].style.display = 'none';
        bigimgs[z].style.display = 'block';
        try {
            imglink.innerHTML = samllimgs[z].getElementsByTagName('img')[0].alt;
        }
        catch (e) {
            imglink.innerText = samllimgs[z].firstChild.firstChild.alt;
        }
        lastIndex = i = z;
    }
    , helper = function (z) {
        return function (e) {
            var na;
            if (!e) {
                e = window.event;
                na = e.srcElement.nodeName;
            }
            else {
                na = e.target.nodeName;
            }
            if (na === 'IMG') {
                slide(z);
            }
        }
    }
    , lastIndex = i = 0, x, y = bigimgs.length
    , getPrevI = function (q) { return i - q < 0 ? y - q : i - 1; }
    , getNextI = function (q) { return i + q >= y ? i + q - y : i + 1; }
    var s = setInterval(function () {
        slide(i);
        i = getNextI(1);
    }, time);
    try {
        imglink.innerText = samllimgs[0].getElementsByTagName('img')[0].alt;
    }
    catch (e) {
        imglink.innerText = samllimgs[0].firstChild.firstChild.alt;
    }
    for (x = 1; x < y; x += 1) {
        bigimgs[x].style.display = 'none';
    }
    for (x = 0; x < y; x += 1) {
        samllimgs[x].onmouseover = helper(x);
    }
    topCon.children[2].onclick = function (e) {
        i = lastIndex;
        var t;
        if (!e) {
            e = window.event;
            t = e.srcElement;
        } else {
            t = e.target;
        }
        switch (t.className) {
            case 'icon_prev':
                slide(getPrevI(1));
                break;
            case 'icon_next':
                slide(getNextI(1));
                break;
        }
    };
    topCon.onmouseover = function () {
        clearInterval(s);
    };
    topCon.onmouseout = function () {
        s = setInterval(function () {
            slide(i);
            i = getNextI(1);
        }, time);
    };
};
	</script><!--Jquiel-->	
<script type="text/javascript">
function nTabs(thisObj,Num){
    if(thisObj.className == "active")return;
    var tabObj = thisObj.parentNode.id;
    var tabList = document.getElementById(tabObj).getElementsByTagName("li");
    for(i=0; i <tabList.length; i++)
    {
        if (i == Num)
        {
            thisObj.className = "active";
            document.getElementById(tabObj+"_Content"+i).style.display = "block";
        }else{
            tabList[i].className = "normal";
            document.getElementById(tabObj+"_Content"+i).style.display = "none";
        }
    }
}
var show_king_id = 1;
function show_king_list(e,k)
{
    if(show_king_id == k) return true;
        o = document.getElementById("a"+show_king_id);
        o.className = "bg";
    e.className = " ";
    show_king_id = k;
}
var show_kinga_id = 1;
function show_kinga_list(f,l)
{
    if(show_kinga_id == l) return true;
        o = document.getElementById("b"+show_kinga_id);
        o.className = "bg";
    f.className = " ";
    show_kinga_id = l;
}
</script><!--TAB-->
<style type="text/css">
<!--
.STYLE5 {
	color: #FF0000;
	font-weight: bold;
}
-->
</style>
<div id="web_sicbg" align="center">
    <div id="web_mian" align="center">
	    <div class="web_catc" style="border-radius:5px;box-shadow:3px 3px 3px 0 rgba(210,210,210,.31);-webkit-box-shadow: 3px 3px 3px 0 rgba(180,180,180,.3);">
	        <div class="topbu">
		    	<h2><a href="http://stores.ebay.co.uk/savechannel" target="_blank"><img src="http://www.360save.net/savechannel/logo.png" width="131" height="90" border="0" /></a></h2>
				<h4><img src="http://www.360save.net/savechannel/t.png" /></h4>
				<h3>    
					<form id="search_form" action="http://stores.ebay.co.uk/savechannel" method="get" name="search">
            			<input id="s"  class="srech"   placeholder="Please input a keyword"  maxlength="100" name="_nkw" type="text" />
          	  			<input class="sub_srh"  type="submit" value="Search"  id="go" >
        			</form>	
				</h3>
			</div>
		  	<div id="banner">	 
				<div class="slides">
        			<ul class="slide-pic">
						<li class="cur" style="display: list-item;"><a href="http://stores.ebay.co.uk/savechannel/Pet-Supplies-/_i.html?_fsub=6513900014" target="_blank"><img src="http://www.360save.net/savechannel/b1.jpg"  border="0"></a></li>
						<li class="" style="display: none;"><a href="http://stores.ebay.co.uk/savechannel/Exercise-Fitness-/_i.html?_fsub=6538009014" target="_blank"><img src="http://www.360save.net/savechannel/b2.jpg"  border="0"></a></li>          
						<li class="" style="display: none;"><a href="http://stores.ebay.co.uk/savechannel/Garden-Patio-Furniture-/_i.html?_fsub=6424915014" target="_blank"><img src="http://www.360save.net/savechannel/b3.jpg"  border="0"></a></li>      
						<li class="" style="display: none;"><a href="http://stores.ebay.co.uk/savechannel/Massage-/_i.html?_fsub=6425137014" target="_blank"><img src="http://www.360save.net/savechannel/b4.jpg"  border="0"></a></li>      
					</ul>
					<ul class="slide-li op">
						<li class="cur"></li>
                		<li class=""></li>
             		    <li class=""></li>
              		    <li class=""></li>
           			</ul>
					<ul class="slide-li slide-txt">
                		<li class=""><a href="#"></a></li>
                		<li class=""><a href="#"></a></li>
                		<li class="cur"><a href="#"></a></li>
                        <li class=""><a href="#"></a></li>
					</ul>
				</div>
			</div>
			<div class="igo_cpnov">
		    	<ul>
			 	  	<li><img src="http://www.360save.net/savechannel/link4.jpg" />
						<ul>
			    		    <li><a href="http://stores.ebay.co.uk/savechannel/Office-Equipment-Supplies-/_i.html?_fsub=6424893014" target="_blank">Office Equipment & Supplies</a></li>
							<li><a href="http://stores.ebay.co.uk/savechannel/Other-Business-Industrial-/_i.html?_fsub=6424914014" target="_blank">Other Business & Industrial</a></li>
							<li><a href="http://stores.ebay.co.uk/savechannel/Garden-Patio-Furniture-/_i.html?_fsub=6424915014" target="_blank">Garden & Patio Furniture</a></li>
							<li><a href="http://stores.ebay.co.uk/savechannel/Other-Garden-Patio-/_i.html?_fsub=6424916014" target="_blank">Other Garden & Patio</a></li>
							<li><a href="http://stores.ebay.co.uk/savechannel/Security-Home-Automation-/_i.html?_fsub=6424917014" target="_blank">Security & Home Automation</a></li>
							<li><a href="http://stores.ebay.co.uk/savechannel/Massage-/_i.html?_fsub=6425137014" target="_blank">Massage</a></li>
							<li><a href="http://stores.ebay.co.uk/savechannel/Pet-Supplies-/_i.html?_fsub=6513900014" target="_blank">Pet Supplies</a></li>
							<li><a href="http://stores.ebay.co.uk/savechannel/Car-Accessories-/_i.html?_fsub=6513901014" target="_blank">Car Accessories</a></li>
							<li><a href="http://stores.ebay.co.uk/savechannel/Health-Care-/_i.html?_fsub=6513903014" target="_blank">Hand Tools</a></li>
							<li><a href="http://stores.ebay.co.uk/savechannel/Health-Care-/_i.html?_fsub=6513903014" target="_blank">Health Care</a></li>
							<li><a href="http://stores.ebay.co.uk/savechannel/Household-Laundry-Supplies-/_i.html?_fsub=6513905014" target="_blank">Household & Laundry Supplies</a></li>
							<li><a href="http://stores.ebay.co.uk/savechannel/Packing-Posting-Supplies-/_i.html?_fsub=6513942014" target="_blank">Packing & Posting Supplies</a></li>
							<li><a href="http://stores.ebay.co.uk/savechannel/Exercise-Fitness-/_i.html?_fsub=6538009014" target="_blank">Exercise & Fitness</a></li>
							<li><a href="http://stores.ebay.co.uk/savechannel/Kitchen-Plumbing-Fittings-/_i.html?_fsub=6538054014" target="_blank">Kitchen Plumbing & Fittings</a></li>
							<li><a href="http://stores.ebay.co.uk/savechannel/Home-Appliances-/_i.html?_fsub=6538055014" target="_blank">Home Appliances</a></li>
							<li><a href="http://stores.ebay.co.uk/savechannel/Other-/_i.html?_fsub=1" target="_blank">Other</a></li>
						</ul>
					</li>
					<li><img src="http://www.360save.net/savechannel/link1.jpg"  /></li>	
				</ul>
			</div>
			<div class="igo_right">
		    	<div class="TabTitle">
                	<ul id="myTab">
                		<li class="active" onclick=nTabs(this,0); id="descrip"><i></i><span>Note</span><em></em></li>
						<li class="normal" onclick=nTabs(this,1);>About Us</li>
				   		<li class="normal" onclick=nTabs(this,2);>Payment</li>
            	    	<li class="normal" onclick=nTabs(this,3);>Shipping</li>
				    	<li class="normal" onclick=nTabs(this,4);>Returns</li>
				    	<li class="normal" onclick=nTabs(this,5);>Contact Us</li>
                	</ul>
            	</div>
            	<div class="TabContent">
                	<div id="myTab_Content0"><img src="http://www.360save.net/savechannel/faq2.jpg" /> 
				    	<div class="chap_name">{{item_title}}</div>
							<div class="item_show">
								<div class="chanp_fet"><i></i><span>Feature</span><em></em></div>
									<div class="chano_fetne">
                                                                                                                                            {% for feature in features %}
						   				<li>{{feature}}</li>            
                                                                                                                                            {% endfor %}               
			                        </div>
				   					<div class="chanp_fet"><i></i><span>Specifications</span><em></em></div>
									<div class="chano_fetne">             
						    			 {% for specification in specifications %}
                                                                                                                                 <li>{{specification}}</li>
                                                                                                                              {% endfor %}                    
			                        </div> 
				    			</div>
								<div class="item_pul">
					    			<div class="mod_focus_show" id="divimgplay">
                            			<ul class="mod_focus_pic" id="divimginfog_imgPlayer">
                                                                                                                <li><img src="http://www.360save.net/eBayUK/{{sku}}/{{img_first}}" /></li>
                                                                                                                {% for img in imgs %}
			                  				<li><img src="http://www.360save.net/eBayUK/{{sku}}/{{img}}" /></li>
                                                                                                                {% endfor %}
                           				</ul>
                          				<ul id="ptitleg_imgPlayer">
                            				<li><h3><a href="#"></a></h3></li>
                            			</ul>
                            				<div class="focus_switch"><a href="javascript:;" class="icon_prev"></a><a href="javascript:;" class="icon_next"></a></div>
                            					<ul class="mod_focus_list" id="divpageinfog_imgPlayer">	
                              						<li class="current">
                              							<a href="#"><img src="http://www.360save.net/eBayUK/{{sku}}/{{img_first}}"/><span class="border"></span><span class="mask"></span></a>
                              						</li>
                                                                                                                {% for img in imgs %}
                              						<li><a href="#"><img src="http://www.360save.net/eBayUK/{{sku}}/{{img}}"/><span class="border"></span><span class="mask"></span></a></li>	
                                                                                                                {% endfor %}
                        					    </ul>
                        					</div>
									<script type="text/javascript">
									  foucsbox(2500);
									</script>
									</div>
								</div>
                  				<div class="none" id="myTab_Content1" style="display:none"><img src="http://www.360save.net/savechannel/payment.jpg"></div>			 
		          				<div class="none" id="myTab_Content2" style="display:none"><img src="http://www.360save.net/savechannel/shipping.jpg"></div>
		          				<div class="none" id="myTab_Content3" style="display:none"><img src="http://www.360save.net/savechannel/returns.jpg"></div>
		          				<div class="none" id="myTab_Content4" style="display:none"><img src="http://www.360save.net/savechannel/contact.jpg"></div>
		          				<div class="none" id="myTab_Content5" style="display:none"><img src="http://www.360save.net/savechannel/faq.jpg"></div>
							</div>
        				</div> 
    				</div>
				</div>
    		</div>
		</div>
