<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<a class="navbar-brand" href="#">FDV System</a>
	</div>
	<div>
		<!--向右对齐-->
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					{{request.user.truename}} <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/account/profile/view.html">帐号资料</a>
					</li>
					<li>
						<a href="/account/password_change.html">修改密码</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/account/logout.html">登出</a>
					</li>
				</ul>
			</li>
		</ul>
		<p class="navbar-text navbar-right"></p>
	</div>
	<div>
		<!--向右对齐-->
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					Task <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="#">###</a>
					</li>
					<li>
						<a href="#">###</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#">###</a>
					</li>
				</ul>
			</li>
		</ul>
		<p class="navbar-text navbar-right"></p>
	</div>
	<div>
		<!--向右对齐-->
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					Notifications <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="#">###</a>
					</li>
					<li>
						<a href="#">###</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#">###</a>
					</li>
				</ul>
			</li>
		</ul>
		<p class="navbar-text navbar-right"></p>
	</div>
</nav>